* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  cursor: pointer;
}

input, select, textarea {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  font-family: sans-serif;
  background: #F7F5F2;
  -webkit-text-size-adjust: 100%;
}